*.pyc
*.pyo
*.class
*~
*.DS_Store
*.kate-swp
build/
dist/
MANIFEST
.coverage
*.egg-info
*.srt
*.ttml
*.sbv
*.vtt
*.flv
*.mp4
*.m4a
*.m4v
*.mp3
*.3gp
*.wav
*.ape
*.mkv
*.swf
*.part
*.ytdl
*.swp

# IntelliJ related files
.idea
*.iml

# VS Code related files
.vscode

Runtime/

Config/Config.py
